.carousel--css-skin-portfolio .carousel {

}
    .carousel--css-skin-portfolio .carousel__widget {

    }
        .carousel--css-skin-portfolio .carousel__widget .swiper {
            overflow: visible; /* будем обрезать парой уровней выше, у границ экрана, а не контейнера */
        }

    .carousel--css-skin-portfolio .carousel__pagination {
        margin-top: 23px;
        display: none;
        align-items: center;
        justify-content: center;
        /* На случай типа fraction: */
        color: #FFFFFF;
        text-align: center;
    }

    .carousel--css-skin-portfolio.carousel--initialized .carousel__pagination {
        display: flex;
    }
        .carousel--css-skin-portfolio .carousel__bullet {
            flex-shrink: 0;
            width: 28px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
            .carousel--css-skin-portfolio .carousel__bullet::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #666666;
            }

            .carousel--css-skin-portfolio .carousel__bullet--current::after {
                background-color: #FFFFFF;
            }
