.header {
    height: var(--header-height);
    background-color: #0D25FF;
}
    .header__detachable-part {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .header__show-menu {
            display: none;
        }

        .header__branding {
            margin-top: 1px;
            position: relative;
            z-index: 10;
        }



@media (1850px <= width) {

    .header {
        /*height: var(--header-height);*/
        /*background-color: #0D25FF;*/
    }
        .header__detachable-part {
            /*height: 100%;*/
            /*display: flex;*/
            /*align-items: center;*/
            /*justify-content: space-between;*/
        }
            .header__show-menu {
                /*display: none;*/
            }

            .header__branding {
                /*margin-top: 1px;*/
            }
}
