.manufacturing {
    padding-top: 3px;
    padding-bottom: 74px;
}
    .manufacturing__preview {
        margin-top: 0;
        margin-bottom: 0;
        height: 620px;
        background-image: url("../images/manufacturing/manufacturing-desktop@1x.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 32px;
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        color: #FFFFFF;
    }

    @media (min-resolution: 1.5dppx) {
        .manufacturing__preview {
            background-image: url("../images/manufacturing/manufacturing-desktop@2x.jpg");
        }
    }

    .manufacturing__section {
        padding-top: 42px;
    }
        .manufacturing__sub-heading {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            text-align: center;
        }

        .manufacturing__list {
            margin-top: 21px;
        }
