.portfolio {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
}
    .portfolio__heading {

    }

    .portfolio__list {

    }

    .portfolio__map-heading {

    }

    .portfolio__map {
        order: -1;
    }
