.showcase {
    position: relative;
}
    .showcase__heading {
        position: absolute;
        top: 43px;
        left: 50%;
        margin-left: 100px;
        width: 370px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 40px;
        line-height: 49px;
        color: #0D25FF;
        text-align: center;
    }

    .showcase__body {
        /*background-color: #0D25FF;*/
    }


@media (1850px <= width) {

    .showcase {
        position: relative;
    }
        .showcase__heading {
            top: 31px;
            margin-left: 40px;
            width: 399px;
            font-size: 50px;
            line-height: 58px;
        }

        .showcase__body {
            /*background-color: #0D25FF;*/
        }
}



