<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Главная</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="page">
            <div class="page__header">
                <header class="header">

                </header>
            </div>
            <div class="page__body">
                <div class="company">
                    <div class="company__content">
                        <div class="company__wrap container">
                            <h1 class="company__heading">
                                Компания ЭМКОМ
                            </h1>
                            <div class="company__description">
                                Инженерно-производственная компания ЭМКОМ основана в&nbsp;2005&nbsp;г.
                            </div>
                            <div class="company__specialization">
                                Специализация<br> компании
                            </div>
                            <div class="company__features">
                                Честность<br>
                                Качество<br>
                                Профессионализм
                            </div>
                            <ul class="company__service">
                                <li class="company__service-item">системы электроснабжения</li>
                                <li class="company__service-item">комплексные системы безопасностисистемы водоснабжения и канализации</li>
                                <li class="company__service-item">сети связи</li>
                                <li class="company__service-item">системы кондиционирования отопления, вентиляции</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <section class="guide">
                    <div class="guide__wrap container">
                        <h2 class="guide__heading">
                            И не случайным, а скорее закономерным стало то, что мотивацией коллектива стало:
                        </h2>
                        <ul class="guide__list">
                            <li class="guide__item">Не бояться<br> смелых<br> решений</li>
                            <li class="guide__item">Создавать</li>
                            <li class="guide__item">Созидать</li>
                            <li class="guide__item">Уважать<br> партнёров</li>
                        </ul>
                    </div>
                </section>
                <section class="ambitions">
                    <div class="ambitions__top-content container">
                        <div class="ambitions__top-content-inner wysiwyg inner-container">
                            <p>Одновременно росли амбиции. Усложнялись задачи. Проекты становились сложнее и весомее. Нарабатывались умение, навык, повышалась квалификация и компетентность специалистов.</p>
                            <p>Для оптимизации производственного процесса, исключения зависимости от сторонних поставщиков и сокращения собственных издержек, в 2012 году компания ЭМКОМ кардинально меняет стратегию и производит реорганизацию, создаёт собственное производство полного цикла по пакетированию инженерного оборудования в модули собственного производства таких как:</p>
                        </div>
                    </div>
                    <div class="ambitions__gallery container container--no-padding-on-smartphone">
                        <div class="
                            carousel
                            carousel--js-init-gallery
                            carousel--css-skin-gallery
                            carousel--css-default-arrow
                        ">
                            <div class="carousel__widget">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a class="thumbnail" href="#">
                                                <img class="thumbnail__image"
                                                     srcset="../temp/service-gallery/service-gallery-a@2x.jpg 2x"
                                                     src="../temp/service-gallery/service-gallery-a@1x.jpg"
                                                     width="546"
                                                     height="458"
                                                     alt=""
                                                >
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="thumbnail" href="#">
                                                <img class="thumbnail__image"
                                                     srcset="../temp/service-gallery/service-gallery-b@2x.jpg 2x"
                                                     src="../temp/service-gallery/service-gallery-b@1x.jpg"
                                                     width="546"
                                                     height="458"
                                                     alt=""
                                                >
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="thumbnail" href="#">
                                                <img class="thumbnail__image"
                                                     srcset="../temp/service-gallery/service-gallery-c@2x.jpg 2x"
                                                     src="../temp/service-gallery/service-gallery-c@1x.jpg"
                                                     width="546"
                                                     height="458"
                                                     alt=""
                                                >
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="thumbnail" href="#">
                                                <img class="thumbnail__image"
                                                     srcset="../temp/service-gallery/service-gallery-a@2x.jpg 2x"
                                                     src="../temp/service-gallery/service-gallery-a@1x.jpg"
                                                     width="546"
                                                     height="458"
                                                     alt=""
                                                >
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="thumbnail" href="#">
                                                <img class="thumbnail__image"
                                                     srcset="../temp/service-gallery/service-gallery-b@2x.jpg 2x"
                                                     src="../temp/service-gallery/service-gallery-b@1x.jpg"
                                                     width="546"
                                                     height="458"
                                                     alt=""
                                                >
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="thumbnail" href="#">
                                                <img class="thumbnail__image"
                                                     srcset="../temp/service-gallery/service-gallery-c@2x.jpg 2x"
                                                     src="../temp/service-gallery/service-gallery-c@1x.jpg"
                                                     width="546"
                                                     height="458"
                                                     alt=""
                                                >
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="thumbnail" href="#">
                                                <img class="thumbnail__image"
                                                     srcset="../temp/service-gallery/service-gallery-a@2x.jpg 2x"
                                                     src="../temp/service-gallery/service-gallery-a@1x.jpg"
                                                     width="546"
                                                     height="458"
                                                     alt=""
                                                >
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="thumbnail" href="#">
                                                <img class="thumbnail__image"
                                                     srcset="../temp/service-gallery/service-gallery-b@2x.jpg 2x"
                                                     src="../temp/service-gallery/service-gallery-b@1x.jpg"
                                                     width="546"
                                                     height="458"
                                                     alt=""
                                                >
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a class="thumbnail" href="#">
                                                <img class="thumbnail__image"
                                                     srcset="../temp/service-gallery/service-gallery-c@2x.jpg 2x"
                                                     src="../temp/service-gallery/service-gallery-c@1x.jpg"
                                                     width="546"
                                                     height="458"
                                                     alt=""
                                                >
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel__pagination">

                            </div>
                            <button class="carousel__button carousel__button--prev" type="button">
                                <svg class="carousel__chevron" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M41.3609 52.271L43.0213 50.6129L27.4127 35.0019L43.0213 19.3933L41.3609 17.7305L24.0918 35.0019L41.3609 52.271Z"/>
                                </svg>

                            </button>
                            <button class="carousel__button carousel__button--next" type="button">
                                <svg class="carousel__chevron" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M28.6411 17.7305L26.9806 19.3886L42.5893 34.9996L26.9806 50.6082L28.6411 52.271L45.9102 34.9996L28.6411 17.7305Z"/>
                                </svg>

                            </button>
                        </div>
                    </div>
                    <div class="ambitions__bottom-content container">
                        <div class="ambitions__bottom-content-inner wysiwyg inner-container">
                            <p>Коллектив компании ЭМКОМ на практике занимается тем, что её создатели изучали в стенах петербургских ВУЗов. Проектирование и монтаж инженерных сетей и систем плотно вошли в жизнь дружной и сплочённой команды. В ходе тяжёлой, кропотливой работы совершали ошибки, исправляли их, нарабатывался опыт. Как следствие в 2009 г. ООО «ЭМКОМ» на всех этапах вводит строгий многоступенчатый контроль.</p>
                        </div>
                    </div>
                    <div class="ambitions__action">
                        <div class="ambitions__action-wrap container">
                            <a class="button button--larger" href="#">
                                Дизельные<br class="smartphone-only"> электростанции
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="page__footer">
                <footer class="footer">

                </footer>
            </div>
        </div>

        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>

        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../scripts/scripts.js"></script>


    </body>
</html>
