<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>РОСТЕЛЕКОМ-Ростов-Эстакада</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="page">
            <div class="page__header">
                <header class="header">

                </header>
            </div>
            <div class="page__body">
                <div class="project">
                    <div class="project__preview">
                        <img class="project__image"
                             srcset="../temp/projects-item-preview/projects-item-preview@2x.jpg 2x"
                             src="../temp/projects-item-preview/projects-item-preview@1x.jpg"
                             alt=""
                        >
                    </div>
                    <div class="project__summary">
                        <div class="project__summary-wrap container">
                            <div class="project__summary-limitation inner-container">
                                <a class="project__date" name="fake-link-to-prevent-smartphones-parsing-it-as-calendar-entry">
                                    12.10.2024
                                </a>
                                <h1 class="project__heading">
                                    РОСТЕЛЕКОМ-Ростов-Эстакада
                                </h1>
                                <div class="project__short-description">
                                    Спроектировали и установили своими силами эстакаду для Ростелекома
                                </div>
                                <div class="project__data">
                                    <div class="project__stat">
                                        <b class="project__param">Сфера</b>
                                        <div class="project__value">Производство и поставка технических газов</div>
                                    </div>
                                    <div class="project__stat">
                                        <b class="project__param">Клиент</b>
                                        <div class="project__value">ООО «ДетроГаз»</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project__body container">
                        <div class="project__wrap inner-container">
                            <div class="wysiwyg">
                                <p>Мы проанализировали бизнес-процессы предприятия и автоматизировали процесс сбора и передачи данных.</p>
                                <p>ООО «ДетроГаз» — предприятие, специализирующееся на производстве и поставке технических газов. Его газовые баллоны находятся в трех городах: Челябинске, Коркино и Копейске. Чтобы замерить уровень остатка газа в баллоне, сотрудник ООО «ДетроГаз» объезжает их, записывает в свой журнал показатели, после чего возвращается в главный офис. С помощью компьютера заносит данные в систему и, если нужно, передает заявку на пополнение. Операция повторяется каждый день.</p>
                                <p><strong>Проблемы, которые мы выявили на предприятии</strong></p>
                                <ul>
                                    <li>Замер уровня газа занимает слишком много времени;</li>
                                    <li>Лишние издержки на ГСМ;</li>
                                    <li>Отсутствие быстрого реагирования в случае ЧП;</li>
                                    <li>Простои пустых баллонов из-за несвоевременной передачи заявки.</li>
                                </ul>
                                <p>Мы проанализировали бизнес-процессы компании и смоделировали их — построили модель «as is». Затем предложили решение — систему для диспетчеризации тензодатчиков, которая в автоматическом режиме будет передавать данные с датчика в систему главного офиса. В случае низкого уровня газа или ЧП система выдаст срочное сообщение на компьютере и продублирует его по смс.</p>
                                <p>Наше решение проблемы мы смоделировали в бизнес-процессе «to be». Это позволило наглядно показать заказчику, как именно изменится работа компании. После этого мы оценили риски проекта и посчитали его экономику — стоимость, срок окупаемости и экономический эффект. Согласовали с заказчиком и приступили к работе.</p>
                                <p><strong>ИТОГ</strong></p>
                                <ul>
                                    <li>Сокращение издержек на 30%;</li>
                                    <li>Исключение простоя;</li>
                                    <li>Возможность быстрого реагирования при ЧП.</li>
                                </ul>
                                <p>Мы не просто подготовили план проекта, мы подобрали подходящее оборудование, запрограммировали систему, спроектировали сеть для передачи данных и осуществили монтажные работы по внедрению проекта.</p>
                            </div>
                        </div>
                        <div class="project__gallery">
                            <div class="gallery">
                                <div class="gallery__item">
                                    <a class="thumbnail" href="#">
                                        <img class="thumbnail__image"
                                             srcset="../temp/projects-gallery/projects-gallery-a@2x.jpg 2x"
                                             src="../temp/projects-gallery/projects-gallery-a@1x.jpg"
                                             width="546"
                                             height="458"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="gallery__item">
                                    <a class="thumbnail" href="#">
                                        <img class="thumbnail__image"
                                             srcset="../temp/projects-gallery/projects-gallery-b@2x.jpg 2x"
                                             src="../temp/projects-gallery/projects-gallery-b@1x.jpg"
                                             width="546"
                                             height="458"
                                             alt=""
                                        >
                                    </a>
                                </div>
                                <div class="gallery__item">
                                    <a class="thumbnail" href="#">
                                        <img class="thumbnail__image"
                                             srcset="../temp/projects-gallery/projects-gallery-c@2x.jpg 2x"
                                             src="../temp/projects-gallery/projects-gallery-c@1x.jpg"
                                             width="546"
                                             height="458"
                                             alt=""
                                        >
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__footer">
                <footer class="footer">

                </footer>
            </div>
        </div>

        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>

        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../scripts/scripts.js"></script>


    </body>
</html>
