<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Проекты</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="page">
            <div class="page__header">
                <header class="header">

                </header>
            </div>
            <div class="page__body">
                <div class="portfolio">
                    <h1 class="portfolio__heading">
                        Проекты
                    </h1>
                    <div class="portfolio__list">
                        <div class="portfolio__list-wrap container">
                            <div class="carousel  carousel--js-init-portfolio  carousel--css-skin-portfolio carousel--css-disable-on-desktop">
                                <div class="carousel__widget">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-a@2x.jpg 2x"
                                                             src="../temp/works/work-a@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        РОСТЕЛЕКОМ-Ростов-Эстакада
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-b@2x.jpg 2x"
                                                             src="../temp/works/work-b@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        10+ лет сотрудничества с АО «ТРАНСМАШХОЛДИНГ»: энергоснабжение и электрификация железных путей
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-c@2x.jpg 2x"
                                                             src="../temp/works/work-c@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        Испытательная станция
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-d@2x.jpg 2x"
                                                             src="../temp/works/work-d@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        СММ-Электро
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-e@2x.jpg 2x"
                                                             src="../temp/works/work-e@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        Станция водоподготовки для Птицефабрики «Северная»
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-f@2x.jpg 2x"
                                                             src="../temp/works/work-f@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        «Зелёная» электроэнергия и антенно-мачтовые сооружения для ФСБ
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-g@2x.jpg 2x"
                                                             src="../temp/works/work-g@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        РОСТЕЛЕКОМ-Ростов-Эстакада
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-h@2x.jpg 2x"
                                                             src="../temp/works/work-h@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        10+ лет сотрудничества с АО «ТРАНСМАШХОЛДИНГ»: энергоснабжение и электрификация железных путей
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-i@2x.jpg 2x"
                                                             src="../temp/works/work-i@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        Испытательная станция
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-j@2x.jpg 2x"
                                                             src="../temp/works/work-j@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        СММ-Электро
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-k@2x.jpg 2x"
                                                             src="../temp/works/work-k@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        Станция водоподготовки для Птицефабрики «Северная»
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-l@2x.jpg 2x"
                                                             src="../temp/works/work-l@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        «Зелёная» электроэнергия и антенно-мачтовые сооружения для ФСБ
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a class="work" href="#">
                                                    <div class="work__preview">
                                                        <img class="work__image"
                                                             srcset="../temp/works/work-m@2x.jpg 2x"
                                                             src="../temp/works/work-m@1x.jpg"
                                                             width="366"
                                                             height="422"
                                                             alt=""
                                                        >
                                                    </div>
                                                    <div class="work__label">
                                                        РОСТЕЛЕКОМ-Ростов-Эстакада
                                                    </div>
                                                    <div class="work__details">
                                                        Подробнее
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel__pagination">

                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="portfolio__map-heading">
                        Локации наших работ
                    </h2>
                    <div class="portfolio__map">
                        <div class="geo">
                            <div class="geo__wrap container">
                                <ul class="geo__list">
                                    <li class="geo__item">Архангельск</li>
                                    <li class="geo__item">Астрахань</li>
                                    <li class="geo__item">Билибино</li>
                                    <li class="geo__item">Брянск</li>
                                    <li class="geo__item">Бугры</li>
                                    <li class="geo__item">Видяево</li>
                                    <li class="geo__item">Вологда</li>
                                    <li class="geo__item">Гатчина</li>
                                    <li class="geo__item">Геленджик</li>
                                    <li class="geo__item">Загривское<br> сельское пос.</li><!-- чётное число <br>-ов в каждой колонке, чтобы визуально колонки получались более-менее одинаковыми по ГОРИЗОНТАЛЬНЫМ линиям -->
                                    <li class="geo__item">Идрица</li>
                                    <li class="geo__item">Иркутск</li>
                                    <li class="geo__item">Казань</li>
                                    <li class="geo__item">Коломна</li>
                                    <li class="geo__item">Комарово</li>
                                    <li class="geo__item">Красноярск</li>
                                    <li class="geo__item">Курск</li>
                                    <li class="geo__item">Надым</li>
                                    <li class="geo__item">Нарьян-Мар</li>
                                    <li class="geo__item">Новосибирск</li>
                                    <li class="geo__item">Новочеркасск</li>
                                    <li class="geo__item">Псков</li>
                                    <li class="geo__item">Ростов-на-<br>Дону</li><!-- чётное число <br>-ов в каждой колонке, чтобы визуально колонки получались более-менее одинаковыми по ГОРИЗОНТАЛЬНЫМ линиям -->
                                    <li class="geo__item">Сегежа</li>
                                    <li class="geo__item">Тверь</li>
                                    <li class="geo__item">Томск</li>
                                    <li class="geo__item">Торжок</li>
                                    <li class="geo__item">Тюмень</li>
                                    <li class="geo__item">Уфа</li>
                                    <li class="geo__item">Якутия</li>
                                    <li class="geo__item">Янино</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__footer">
                <footer class="footer">

                </footer>
            </div>
        </div>

        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>

        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
