<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Услуги</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="page">
            <div class="page__header">
                <header class="header">

                </header>
            </div>
            <div class="page__body">
                <div class="solutions">
                    <div class="solutions__head">
                        <div class="solutions__features">
                            <div class="solutions__category solutions__category--left">
                                Монтаж и проектирование<br> инженерных систем
                            </div>
                            <div class="solutions__category solutions__category--right">
                                комплексное производство<br> модульных решений
                            </div>
                        </div>
                        <div class="solutions__intro container">
                            <h1 class="solutions__heading">
                                Монтаж<br class="solutions__heading-line-break"> и проектирование инженерных систем
                            </h1>
                            <p class="solutions__description">
                                Уже много лет мы помогаем компаниям оптимизировать или создать оптимальные решения для развития их бизнеса. Прежде чем приступить к работе, наши специалисты подробно изучают бизнес-процессы компании, анализируют узкие места и разрабатывают план работы. При необходимости помогаем с оптимизацией или реинжинирингом бизнес-процессов — строим модель «as is» и «to be», оцениваем риски проекта и рассчитываем экономическую эффективность.
                            </p>
                        </div>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores assumenda aut, commodi consectetur deserunt explicabo fuga iusto laboriosam maiores maxime molestias natus nemo neque odio odit omnis, perferendis perspiciatis provident, quasi quis veritatis voluptate! Ad atque commodi magni molestiae nulla praesentium provident quaerat quam, quasi sed. Architecto asperiores, dicta doloremque enim eum labore, nihil nulla, porro praesentium quidem repellat saepe sequi vero. Amet dolor dolorem eaque itaque numquam quae quia sed vitae! Accusamus adipisci architecto, at consectetur cumque distinctio dolor enim excepturi exercitationem ipsam labore laboriosam maiores maxime modi molestiae nihil nobis obcaecati possimus quia, quibusdam reprehenderit sapiente.
                </div>
            </div>
            <div class="page__footer">
                <footer class="footer">

                </footer>
            </div>
        </div>

        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>

        <script src="../vendors/swiper/swiper-bundle.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
