<!DOCTYPE html>
<html lang="ru" itemscope itemtype="https://schema.org/Thing">
    <head>
        <meta charset="utf-8">
        <title>Дизельные электростанции-ДЭС</title>
        <meta name="description" content="[%description%]">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="page">
            <div class="page__header">
                <header class="header">

                </header>
            </div>
            <div class="page__body">
                <div class="service">
                    <div class="service__preview">
                        <img class="service__image"
                             srcset="../temp/service-item-preview/service-item-preview@2x.jpg 2x"
                             src="../temp/service-item-preview/service-item-preview@1x.jpg"
                             alt=""
                        >
                    </div>
                    <div class="service__body container">
                        <h1 class="service__heading">
                            Дизельные электростанции-ДЭС
                        </h1>
                        <div class="service__top-content inner-container">
                            <div class="wysiwyg">
                                <p>Блок-модуль имеет конструкцию, предназначенную для размещения в нем автономных источников электроснабжения с использованием дизельных генераторов.</p>
                                <p>Контейнеры ДЭС применяют в качестве аварийного, резервного, вспомогательного или основного источника электроэнергии на предприятиях, в строительстве, в административных и медицинских учреждениях, в аэропортах, гостиницах и т.п. и могут работать как в автономном режиме, так и параллельно с централизованными системами электроснабжения.</p>
                                <p>Контейнер ДЭС может быть выполнен из легких строительных конструкций на основе жесткого металлического каркаса или в антивандальном исполнении для работы в разных климатических условиях. Модули могут быть масштабируемы и настроены для параллельной работы.</p>
                                <p>Мы производим модули всех степеней автоматизации и диапазона мощностей, от ведущих производителей как отечественного, так и зарубежного производства.</p>
                                <p>Наша компания имеет возможность монтажа двух и более ДГУ в контейнере, а также установки блок-контейнера на шасси-прицеп для применения в качестве передвижной «ДЭС».</p>
                            </div>
                        </div>
                        <div class="service__gallery">
                            <div>
                                <a class="thumbnail" href="#">
                                    <img class="thumbnail__image"
                                         srcset="../temp/service-gallery/service-gallery-a@2x.jpg 2x"
                                         src="../temp/service-gallery/service-gallery-a@1x.jpg"
                                         width="546"
                                         height="458"
                                         alt=""
                                    >
                                </a>
                            </div>
                            <div>
                                <a class="thumbnail" href="#">
                                    <img class="thumbnail__image"
                                         srcset="../temp/service-gallery/service-gallery-b@2x.jpg 2x"
                                         src="../temp/service-gallery/service-gallery-b@1x.jpg"
                                         width="546"
                                         height="458"
                                         alt=""
                                    >
                                </a>
                            </div>
                            <div>
                                <a class="thumbnail" href="#">
                                    <img class="thumbnail__image"
                                         srcset="../temp/service-gallery/service-gallery-c@2x.jpg 2x"
                                         src="../temp/service-gallery/service-gallery-c@1x.jpg"
                                         width="546"
                                         height="458"
                                         alt=""
                                    >
                                </a>
                            </div>
                        </div>
                        <div class="service__bottom-content inner-container">
                            <div class="wysiwyg">
                                <h2>
                                    В блок-контейнере монтируются<br> следующие<br> инженерные системы:
                                </h2>
                                <ul>
                                    <li>дополнительный расходный топливный бак необходимого объёма с системой топливо перекачки, с автоматической и ручной системой дозаправки, для обеспечения непрерывной работы в течение длительного времени*;</li>
                                    <li>системы пополнения масла и охлаждающей жидкости*;</li>
                                    <li>рабочее и аварийное освещение;</li>
                                    <li>кабельными трассами;</li>
                                    <li>системой электроснабжения включая щиты собственных нужд ЩСН, или вводные распределительные панели с функцией автоматического ввода резерва (АВР);</li>
                                    <li>внутренним контуром заземления;</li>
                                    <li>кабельными вводами;</li>
                                    <li>отопление и вентиляция воздуха;</li>
                                    <li>автоматической системой пожарной сигнализации (газового, порошкового или аэрозольного);</li>
                                    <li>автоматической системой пожаротушения;</li>
                                    <li>автоматической системой охранной сигнализации;</li>
                                    <li>системой контроля управления доступом;</li>
                                    <li>системой охранного телевизионного видеонаблюдения*;</li>
                                    <li>автоматики и диспетчеризации.</li>
                                </ul>
                                <p>
                                    <small>* (опционально)</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__footer">
                <footer class="footer">

                </footer>
            </div>
        </div>

        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_inputmask.js"></script>

    </body>
</html>
